{% extends 'base.html.twig' %}

{% block title %}Hello ElementController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class=" mx-auto w-50 ">
        <h1 class="ml-0">Navigation</h1>
        <h3>
            Element
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('element_liste') }}">Liste des elements</a>
            </h5>
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('element_create') }}">Créer un element</a>
            </h5>
        </h3>

        <h3>
            Stat
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('stat_liste') }}">Liste des statistiques</a>
            </h5>
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('stat_create') }}">Créer une statistique</a>
            </h5>
        </h3>
        <h3>
            Tag
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('tag_liste') }}">Liste des tags</a>
            </h5>
            <h5>
                <a class="nav-link waves-effect waves-light" href="{{ path('tag_create') }}">Créer un tag</a>
            </h5>
        </h3>

    </div>

{% endblock %}
